<%- model_class = Bill -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:period_start) %></th>
      <th><%= model_class.human_attribute_name(:period_stop) %></th>
      <th><%= model_class.human_attribute_name(:consumption_unit) %></th>
      <th><%= model_class.human_attribute_name(:time_unit) %></th>
      <th><%= model_class.human_attribute_name(:author_id) %></th>
      <th><%= model_class.human_attribute_name(:checker_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr class="<%= (bill.consumption_ids.empty? ? 'warning' : (!bill.checker_id.nil? ? 'success' : ''))  %>">
        <td><%= link_to bill.id, bill_path(bill) %></td>
        <td><%= bill.name %></td>
        <td><%= bill.period_start.to_formatted_s(:month_and_year) %></td>
        <td><%= bill.period_stop.to_formatted_s(:month_and_year) %></td>
        <td><%= bill.consumption_unit %></td>
        <td><%= Bill.time_units.invert[bill.time_unit] %></td>
        <td><%= bill.author.email %></td>
        <td><%= bill.checker.nil? ? 'Not checked' : bill.checker.email %></td>
        <td><%= bill.created_at.to_formatted_s(:short) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_bill_path(bill), :class => 'btn btn-mini' if can?(:edit, bill) %>
          <%= link_to('Consumptions', new_consumptions_bill_path(bill), :class => 'btn btn-mini') if can?(:new_consumptions, bill) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")), new_bill_path, :class => 'btn btn-primary' if can?(:new, Bill) %>
